:root {
  --main-color: #5d5fef;
  --muted-color: #858585;
}

body {
  background-color: #f0f0f0 !important;
}
.navbar-brand {
  color: var(--main-color) !important;
}
.news-Name {
  color: #fff;
  background-color: var(--main-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.navbar-nav li {
  padding: 0.25rem 1rem !important;
}
.navbar-nav li:hover {
  background-color: var(--main-color) !important;
  color: #f0f0f0 !important;
  border-radius: 0.25rem !important;
}
.nav-item:hover a {
  color: #f0f0f0 !important;
}
.mutade-text {
  color: var(--muted-color) !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}
#categories-field li {
  padding: 5px 15px;
  border-radius: 3px;
}
#categories-field li:hover {
  background-color: var(--main-color) !important;
  color: #fff !important;
}
.active-category {
  color: var(--main-color) !important;
  border: 1px solid var(--main-color);
}

.button-style {
  padding: 5px 15px !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
  border-radius: 5px !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.button-style:hover {
  background-color: var(--main-color) !important;
  color: #fff !important;
}
.button-Active {
  background-color: var(--main-color) !important;
  color: #fff !important;
}

/* Rating star */
.rating-star {
  color: orange;
}

.active {
  color: var(--main-color) !important;
}
